.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea
AndroidCommon/build
AndroidCommon/AndroidCommon.iml
AndroidCommon/.classpath
AndroidCommon/.project
AndroidCommon/proguard-project.txt
NetConnect/build
NetConnect/NetConnect.iml
NetConnect/.classpath
NetConnect/.project
gradle.properties
PowerImprove.iml
gradlew
gradlew.bat
app/app.iml