<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.storm.powerimprove"
    >

    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <application
        android:name=".DebugApp"
        tools:replace="android:name"/>
</manifest>
